/* стилизация  параграфов  и svg иконок*/

.list-text {
  // display: flex;
  padding: 0px;
  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style-type: none;
}

.list-text__subjec-box {
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 4px;
}
// ul
.list-text {
  margin-top: 0px;
  margin-bottom: -30px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.list-text__text-subjec {
  margin: 10px 0px 0px 0px;
  line-height: 1.71;
}

h3 {
  text-transform: uppercase;
}

.list-text__subjec {
  text-align: center;
  font-weight: $font-weight-bold;
  font-size: 14px;
  line-height: 1.14;
  margin: 0px;
  color: $secondary-text-color;
  @media screen and (min-width: 768px) {
    text-align: left;
  }
}
// li
.list-text__list-subjec {
  width: 100%;
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 120px) / 4);
  }
  // &:not(:last-child) {
  //   margin-right: 30px;
  // }
}
